@import '@wka/ui/src/index';

.wka-bonuses-wrapper {
    background-image: url('../../../../assets/backgrounds/wkbg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

input,
select {
    all: unset;
    background: $text;
    color: $quinary;
    padding: 0;
    padding-left: 1rem;
    width: 50%;
    font-size: 2rem;
}

select {
    width: 80%;
    height: 2rem;
    font-size: 1rem;
    color: $text;
    line-height: 2rem;
}

.wka-session-count {
    top: -25px;
    right: -55px;
}

#info {
    position: absolute;
    top: -10px;
    right: -10px;
    cursor: pointer;
}

.wka-table {
    margin-left: -6rem;
}

select option:first-child {
    color: $quaternary;
}

select option[value=""] {
    color: $quaternary;
}

select:valid option[value=""] {
    color: $text;
}

select option {
    color: $text;
}

.wka-season-start {
    left: 50%;
    top: -4rem;
    transform: translateX(-50%);
    z-index: 12;
    #info {
        position: absolute;
        top: -15px;
        right: -15px;
    }
    
}