<div class="w-full h-full grid lg:grid-cols-quickbar">
  <div class="w-full h-full flex flex-col overflow-auto">
    <div
      *ngIf="error !== undefined; else error"
      class="wka-news-container grid lg:grid-cols-3 sm:grid-cols-3 grid-rows-news gap-8 p-8"
    >
      <div
        *ngFor="let news of news$.asObservable() | async; index as i"
        class="w-full h-full min-h-52 flex"
        [class.wka-big-news]="i === 0"
      >
        <div
          (click)="openLink(news?.url)"
          class="wka-news rounded-xl bg-center bg-cover relative flex w-full overflow-hidden cursor-pointer"
          [ngStyle]="{
            backgroundImage: news?.base64Img
              ? 'url(data:image/jpeg;base64,' + news.base64Img + ')'
              : 'url(' + news.imageUrl + ')'
          }"
        >
          <div class="absolute bottom-0 left-0 bg-overlay p-2 w-full">
            <div
              [class]="
                'text-text font-text ' +
                (i !== 0 ? 'lg:text-xl text-xl' : 'lg:text-4xl text-xl') +
                ' text-ellipsis w-full overflow-hidden mb-2'
              "
            >
              {{ (news?.title || 'Brak tytułu').substring(0, 25) + '...' }}
            </div>
            <div
              [class]="
                'text-text font-text ' +
                (i !== 0 ? 'lg:text-xs text-xs' : 'lg:text-lg text-xs') +
                ' text-ellipsis w-full overflow-hidden'
              "
            >
              {{
                (news?.description || 'Brak opisu').substring(0, 180) + '...'
              }}
            </div>
          </div>
        </div>
      </div>

      <wka-ui-spinner class="lg:w-4/6"></wka-ui-spinner>
    </div>
    <div
      *ngIf="news$.value.length <= 6 && news$.value.length !== 0"
      class="relative bottom-2 text-center w-full cursor-pointer text-secondary underline"
      (click)="getFullNews()"
    >
      Załaduj więcej...
    </div>
  </div>
  <ng-template #error>
    <div>{{ error }}</div>
  </ng-template>
  <div class="hidden lg:block">
    <wka-quick-bar></wka-quick-bar>
  </div>
</div>
