

.wka-grid-wrapper {
    grid-template-areas:
        "header header"
        "sidebar content";

    .wka-grid-header {
        grid-area: header;
    }

    .wka-grid-sidebar {
        grid-area: sidebar;
    }

    .wka-grid-content {
        grid-area: content;
        z-index: 10;
        position: relative;
    }
}