@import '@wka/ui/src/index';

.wka-shapes,
.wka-glass {
    position: absolute;
    inset: 0;
}

.wka-glass {
    z-index: 1;
    backdrop-filter: blur(40px);
    display: grid;
    place-items: center;
}

.wka-shape {
    position: absolute;
    width: 350px;
    aspect-ratio: 1;
    border-radius: 50%;
}

.wka-shape-primary {
    background-color: $shape1;
}

.wka-shape-secondary {
    background-color: $shape2;
}